.iconImg{
	width:75px;
	height:75px;
	margin-left: 20px;
	-moz-border-radius:6px;
 -webkit-border-radius:6px;
 border-radius:6px;
 border:#6EB119 solid 2px;
}

.gameIcon{
	width:75px;
	height:75px;
	-moz-border-radius:100px;
 -webkit-border-radius:100px;
 border-radius:100px;
 border:#6EB119 solid 4px;
 color:black;
}

.gameIconDis{
	width:75px;
	height:75px;
	opacity:0.3;
	-moz-border-radius:100px;
 -webkit-border-radius:100px;
 border-radius:100px;
 border:grey solid 4px;
 color:silver;
}


.popupButton {
	width:100%;
	height:56px;
	margin-top:10px;
	margin-bottom:10px;

background:#82EE29;

	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid grey;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;

}

.logoutButton {
	left:15px;
	width:100px;
	height:27px;
	margin-top:3px;
	background:rgb(60, 58, 58);
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#FDF8F8;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
}

.winButton {
	position:relative;
	top:20%;
	left:25%;
	width:100px;
	height:27px;
	margin-top:3px;
	background:rgba(130, 238, 41, 0.76);
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#FDF8F8;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
}


.levelButton {
	width:90%;
	height:56px;
	margin-top:10px;
	margin-bottom:10px;
	background: blue;
	-moz-box-shadow:inset 0px 1px 0px 0px #FDFDFD;
	-webkit-box-shadow:inset 0px 1px 0px 0px #FDFDFD;
	box-shadow:inset 0px 1px 0px 0px #FDFDFD;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgb(253, 253, 117)), color-stop(1, #f0b938));
	background:-moz-linear-gradient(top, rgb(253, 253, 117) 5%, #f0b938 100%);
	background:-webkit-linear-gradient(top, rgb(253, 253, 117) 5%, #f0b938 100%);
	background:-o-linear-gradient(top, rgb(253, 253, 117) 5%, #f0b938 100%);
	background:-ms-linear-gradient(top, rgb(253, 253, 117) 5%, #f0b938 100%);
	background:linear-gradient(to bottom, rgb(253, 253, 117) 5%, #f0b938 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(253, 253, 117)', endColorstr='#f0b938',GradientType=0);
	background-color:rgb(253, 253, 117);
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #B4B941;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}

.greyButton {
	width:90%;
	height:56px;
	margin-top:10px;
	margin-bottom:10px;
	background: blue;
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:silver;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid grey;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}

.hideButton2 {
	height:56px;
	background: blue;
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
	background:-moz-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-webkit-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811',GradientType=0);
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}

.hideButton {
	height:25px;
	width:50px;
	background:#01b7ea;

	text-indent:0px;
	border:0px;
	display:inline-block;
	color:black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	text-align:center;
}

.sidebar{
	margin-left:0px;
	margin-right:0px;
	padding:0px;
	background:none;
}

#tabs {
list-style:none;
margin:3px;
padding:0;
padding-bottom:2px;
float:left;
margin-left:0px;
margin-right:0px;
opacity:1;
color:#333;
background:none;
border-bottom:solid 2px;
border-bottom-color:silver;
}
#tabs li {
margin:0;
padding:0;
padding-bottom:2px;
float:left;
color:#333;
}
#tabs li a {
float:left;
display:inline;
overflow:hidden;
white-space:nowrap;
width:90px;
height:auto;
margin:0;
padding:5px 1px;
padding-bottom:2px;
text-decoration:none;
text-align:center;
line-height:auto;
color:#333;
border-right:0px solid #474747;
font-family:Arial;
font-size:14px;
font-weight:bold;
background:none;
opacity:1;
}
#tabs li a:hover,#tabs li a:focus {
background:white;
}
#tabs li a:active {
-moz-box-shadow:inset 0 0 4px white;
-webkit-box-shadow:inset 0 0 4px white;
box-shadow:inset 0 0 4px white;
}

.highlight {
background-color:none; 
position:relative;
border-bottom:solid 2px;
border-bottom-color:#01b7ea;
top: 2px;
}

select{
width:auto;
text-align:center;
margin-top:10px;
}

.content_box{
height:300px;
}

.rotate {

    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(-90deg);
    -o-transform-origin: left top;
    transform: rotate(-90deg);
    transform-origin: left top;

    position: absolute;
    top: 65px;
    right: -25px;
	z-index:5;
    white-space: nowrap;    
    font-size: 12px;
}

div.dice{
	float:left;
	width:32px;
	height:32px;
	background:#F5F5F5;
	border:#999 1px solid;
	font-size:24px;
	text-align:center;
	margin:4px;
}

#blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}

#popUpDiv {
	position:absolute;
	top:100px;
	background:#eeffe3;
	width:350px;
	height:320px;
	border:5px solid #000;
	z-index: 9002;
}


#grad
{
background: -webkit-linear-gradient(white, #01b7ea); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(white, #01b7ea); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(white, #01b7ea); /* For Firefox 3.6 to 15 */
background: linear-gradient(white, #01b7ea); /* Standard syntax */
}

#crowdScore{
	width:70px;
	height:35px;
	margin-top:10px;
	margin-bottom:10px;
	background:black;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:6px;
	border:1px solid grey;
	display:inline-block;
	color:white;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}

#userScore{
	width:70px;
	height:35px;
	margin-top:10px;
	margin-bottom:10px;
	background:white;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:6px;
	border:1px solid grey;
	display:inline-block;
	color:black;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}

#breakdownScore{
	width:235px;
	height:200px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	background:white;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:6px;
	border:1px solid grey;
	display:inline-block;
	color:black;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}

.contentbox{
	background:white;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:6px;
	border:1px solid grey;
	display:inline-block;
	font-family:arial;
	padding:6px 24px;
	text-decoration:none;
}

.startButtonOld {
	width:100%;
	height:56px;
	margin-top:20px;
	margin-bottom:20px;

background:#82EE29;

	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid grey;
	display:inline-block;
	cursor:pointer;
	color:#1B1B1B;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;

}

.startButton {
	width:100%;
	height:56px;
	margin-top:20px;
	margin-bottom:20px;
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0d8bb), color-stop(1, #f58803) );
	background:-moz-linear-gradient( center top, #f0d8bb 5%, #f58803 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0d8bb', endColorstr='#f58803');
	background-color:#f0d8bb;
	-webkit-border-top-left-radius:9px;
	-moz-border-radius-topleft:9px;
	border-top-left-radius:9px;
	-webkit-border-top-right-radius:9px;
	-moz-border-radius-topright:9px;
	border-top-right-radius:9px;
	-webkit-border-bottom-right-radius:9px;
	-moz-border-radius-bottomright:9px;
	border-bottom-right-radius:9px;
	-webkit-border-bottom-left-radius:9px;
	-moz-border-radius-bottomleft:9px;
	border-bottom-left-radius:9px;
	text-indent:0;
	border:3px solid #e8aa4c;
	display:inline-block;
	color:#000000;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	font-style:normal;
	height:65px;

	text-decoration:none;
	text-align:center;
}
.startButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f58803), color-stop(1, #f0d8bb) );
	background:-moz-linear-gradient( center top, #f58803 5%, #f0d8bb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f58803', endColorstr='#f0d8bb');
	background-color:#f58803;
}.startButton:active {
	position:relative;
	top:1px;
